@page
@model RazorPizzeria.Pages.Forms.NewCustomerModel
@{
}


<div class="container">
    <h1>Add new customer</h1>
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <input type="text" asp-for="csm.Name" class=" mb-5" /> Name
                <br />
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="text" asp-for="csm.Email" class=" mb-5" /> E-mail
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="text" asp-for="csm.Address" class=" mb-5"  /> Address
        <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="text" asp-for="csm.City" class=" mb-5" /> City
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="text" asp-for="csm.Phone" class=" mb-5 " /> Phone
                <br />
            </div>
        </div>
        
        
        
        
        <button class="btn btn-primary mt-1" type="submit">Add new customer</button>
    </form>
</div>